@model IndexViewModel


<div class="main">
    <aside class="main_side">
        <div class="main_side_content">
            <h3>Группы</h3>

            <div class="main_side--add-group">
                <form action="/" method="post">
                    <select class="main_table--role-selector">
                        @foreach(var group in Model.Groups)
                        {
                            <option value="@group.Id">@group.Name</option>
                        }
                    </select>

                    <button class="btn main_side--submit" type="submit" asp-action="" asp-controller="">Добавить</button>
                </form>

                
            </div>
            <ul class="main_side--list-groups">
                @foreach (var group in Model.TrackGroups)
                {
                    <form method="post">
                        <input type="hidden" name="id" value="@group.Id" />
                    <li>
                        <input class="main_side--item" type="submit" asp-for="@group.Name" value="@group.Name" />
                    </li>
                    </form>
                }
            </ul>
        </div>

    </aside>
</div>